<% if logged_in? && current_user.role?(:admin) %>
  <%= simple_form_for(@student) do |f| %>
    <%= f.error_notification %>
    <div class="row">
      <div class="form-inputs">
        <%= f.input :first_name, label_html: { class: 'active' } %>
        <%= f.input :last_name, label_html: { class: 'active' } %>
        <%= f.input :family_id, label_html: { class: 'active' } %>
        <%= f.input :date_of_birth, label_html: { class: 'active'} %>
        <%= f.input :rating, label_html: {class: 'active'} %>
        <%= f.input :active %>
      </div>
    </div>
    <div class="row">
      <div class="form-actions col s8">
        <%= f.button :submit %>
      </div>
    </div>
  <% end %>
<% else %>
    <%= simple_form_for(@student) do |f| %>
    <%= f.error_notification %>
    <div class="row">
      <div class="form-inputs">
        <%= f.input :first_name, label_html: { class: 'active' } %>
        <%= f.input :last_name, label_html: { class: 'active' } %>
        <%= f.input :family_id, as: :hidden, input_html: { value: Family.all.select{|e| e.user_id == current_user.id}[0].id } %>
        <%= f.input :date_of_birth, label_html: { class: 'active'} %>
        <%= f.input :rating, label_html: {class: 'active'} %>
        <%= f.input :active %>
      </div>
    </div>
    <div class="row">
      <div class="form-actions col s8">
        <%= f.button :submit %>
      </div>
    </div>
  <% end %>
<% end %>
