<% if logged_in? && current_user.role?(:admin) %>

  <div class="row">
    <div class="col s7">
      <%= render :partial => "camp_details" %>
    </div>
    <div class="col s5">
     
      <%# render :partial => "camp_students"%>
      <%= render :partial => "camp_instructors_vue" %>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <%= render :partial => "partials/object_options", locals: {model_name: "camp", object: @camp} %>
    </div>
  </div>

<% elsif logged_in? && current_user.role?(:parent) %>
    <div class="row">
      <%= render :partial => "partials/parent_camp" %>
      <div class="col m6 s6">  
        <%= render :partial => "camp_students_vue" %>
      </div>
    </div>

<%else%>
  <%= render :partial => "camp_details" %>


<% end %>

 