<nav>
  <div class="nav-wrapper black">
    &nbsp&nbsp
        <ul class="right">
      <li><%= link_to 'Logout', logout_path %></li>
    </ul>
    
    <ul class="left">
      <li><%= link_to "Home", home_path %></li>
      <li><%= link_to "Curriculums", curriculums_path %></li>
      <li><%= link_to "Camps", camps_path %></li> 
      <li><%= link_to "Instructors", instructors_path %></li>
      <li><%= link_to "Locations", locations_path %></li>
      <li><%= link_to "Students", students_path %></li>
      <li><%= link_to "Families", families_path %></li>
      <li><%= link_to "Registrations", registrations_path %></li>


    </ul>

  </div>
</nav> 