<body>
	<div class="row">
	<div class= "col s8 m8"> 
		<div class="card">
		    <div class="card-content">
		      <h3> A and M Chess Camp Catalogue </h3>
		      <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
		    </div>
		    <div class="card-tabs">
		      <ul class="tabs tabs-fixed-width">
		        <li class="tab"><a href="#test4"> Upcoming Camps </a></li>
		        <li class="tab"><a href="#test5"> Available Curriculums</a></li>
		      </ul>
		    </div>
	    <div class="card-content grey lighten-4">
	      <div id="test4">
				<% if @upcomingCamps.empty? %>
				  <h3>There are no upcoming camps at this time </h3>
				<% else %>
				  <table>
				  <thead> 
				    <tr>
				      <th>Name</th>
				      <th>Start Date</th>
				      <th>Time Slot</th>
				      <th>Remaining Slots</th>
				      <th colspan="3"></th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @upcomingCamps.each do |camp| %>
				      <tr>
				        <td><a class="purple-text"<%= link_to camp.curriculum.name, camp %></a></td>
				        <td><%= camp.start_date.strftime("%m/%d/%y") %></td>
				        <td><%= camp.time_slot == "am" ? "Morning" : "Afternoon" %></td>
				        <td><% camp.max_students - camp.registrations.count %></td>
				        <td><a class="waves-effect waves-light btn purple" <%= link_to "Register", camp %> </a></td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>


				<% end %>

				<span class="paginate">
				  <%= will_paginate @upcomingCamps, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next", :param_name => 'upcomingCamps' %>
				</span>
	    </div>

      <div id="test5">
		<% if @currics.empty? %>
		  <h3>There are no curriculums available at this time</h3>
		<% else %>
		  <table>
		  <thead>
		    <tr>
		      <th>Name</th>
		      <th>Ratings</th>
		      
		    </tr>
		  </thead>

		  <tbody>
		    <% @currics.each do |curriculum| %>
		      <tr>
		        <td><a class= "purple-text" <%= link_to curriculum.name, curriculum %></a></td>
		        <td><%= curriculum.min_rating == 0 ? "Unrated" : curriculum.min_rating %> - <%= curriculum.max_rating %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>

		    <% end %>

 
      	

      		</div>  
    	</div>
  	</div> 
  	</div>

		  <div class="row">
		    <div class="col s4 m4">
		      <div class="card-panel white">
					    <h4> My Students </h4>
					        <% if @kids == nil || @kids.empty? %>
			  <p>You haven't registered any students yet </p>
			  <td><%= link_to 'Add Student', new_student_path, :class=>"btn waves-effect waves-light purple" %></td>
			<% else %>
			  <table>
			  <thead>
			    <tr>
			      <th>Name </th>
			      <th colspan="3"></th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @kids.each do |student| %>
			      <tr>
			        <td><a class="purple-text"<%= link_to student.name, student %></a></td>
			        <td><%= link_to 'Edit', edit_student_path(student), :class=>"btn waves-effect waves-light purple" %></td>
			      </tr>
			    <% end %>
			    <td><%= link_to 'Add Student', new_student_path, :class=>"btn waves-effect waves-light purple" %></td>
			  </tbody>
			</table>

			<span class="paginate">
			  <%= will_paginate @kids, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next", :param_name => 'students' %>
			</span>

			    <% end %>
		      </div>
		    </div>
		  </div>

  	</div>
</body> 