<% if logged_in? && current_user.role?(:instructor) %>
	<h4 align="center"> My Students </h4>
	<% if @students == [] %>
		<h4> You currently have no students </h4>
	<% else %>
		<table>
			<thead>
				<tr>
					<th> Name </th>
					<th> Rating </th>
					<th> Family </th>
					<th> Active </th>
				</tr> 
			</thead>
			<tbody>
				<% @students.each do |student| %>
					<tr>
						<td> <%= link_to student.proper_name, student_path(student) %> </td>
						<td> <%= student.rating %> </td>
						<td> <%= link_to student.family.family_name, family_path(student.family) %></td>
						<% if student.active %>
							<td> Yes </td>
						<% else %> 
							<td> No </td>
						<% end %>
					</tr> 
				<% end %>
				
			</tbody>
		</table>

	<% end %>

<% elsif logged_in? && current_user.role?(:parent) %>
	<%= render :partial => "partials/parentHome" %>
<% elsif logged_in? && current_user.role?(:admin) %>
	<%= render :partial => "partials/adminHome" %>
<% else %> 
	<%= render :partial => "partials/guestHome" %>
<%end%>




