
<% if logged_in? && current_user.role?(:instructor) %>
	<% if @students == [] %>
		<h4> You currently have no students </h4>
	<% else %>
		<table>
			<thead>
				<tr>
					<th> Name </th>
					<th> Rating </th>
					<th> Family </th>
					<th> Active </th>
				</tr>
			</thead>
			<tbody>
				<% @students.each do |student| %>
					<tr>
						<td> <%= link_to student.proper_name, student_path(student) %> </td>
						<td> <%= student.rating %> </td>
						<td> <%= link_to student.family.family_name, family_path(student.family) %></td>
						<% if student.active %>
							<td> Yes </td>
						<% else %> 
							<td> No </td>
						<% end %>
					</tr>
				<% end %>
				
			</tbody>
		</table>
	<% end %>

<% else %> 
	<div class="row">
	    <div class="col s12 center">
	    <h2 id="headline">Welcome to A&amp;M Chess Camp<!-- Learn chess the right way. --></h2>
	    <p>The A&amp;M Chess Camp (named after the founds, Alex and Mark Heimann) is one of the <b>premiere chess camps</b> for youth this side of the Mississippi. Our instructors have years of experience playing and love to share their <b>wisdom</b> and <b>enthusiasm</b> for the game with students of all levels.</p>
	    <p>Prospective students and parents should feel free to browse through our catalogue of <%= link_to "upcoming camps", camps_path %>. Unfortunately, we have not yet finished our online registration portal. So, should a camp pique your interest, please contact us <%= link_to "here", contact_path %> and we will begin assiting you with your registration as soon as possible. Thank you!</p>
	  </div>
	</div>
<% end %>