<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>A&M Chess Camp :: <%= controller.controller_name.capitalize %></title>
      <!--Import Google Icon Font-->
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <% javascript_include_tag 'application' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Bitter|Josefin+Sans|Nunito|Varela+Round" %>
  </head>
 

    <% if logged_in? && current_user.role?(:admin) %>
      <%= render :partial => "partials/nav" %>
    <% elsif logged_in? && current_user.role?(:instructor) %>
      <%= render :partial => "partials/nav_instructor" %>

    <% elsif logged_in? && current_user.role?(:parent) %>
      <%= render :partial => "partials/nav_parent" %>
    <% else %>
      <%= render :partial => "partials/nav_guest" %>
      
    <% end %>
    
    <div class="row">
      <div class="container" id="main_content">
        <%= render :partial => "partials/flash" %>
        <br></br>
        <%= yield %>
      </div>
    </div>
    <footer>
      <div class="center-align" id="footer">
        <%= render partial: 'partials/footer' %>
        <%= javascript_include_tag 'application' %> 
      </div>
    </footer> 

  </body>
</html>
 